Is music playing: {{bgMusic.isPlaying}}
<br>
<button {{action 'toggleMusic'}}>Toggle</button>
<button {{action 'playMusic'}}>Play</button>
<button {{action 'stopMusic'}}>Stop</button>
<button {{action 'muteMusic'}}>Mute</button>
<button {{action 'unMuteMusic'}}>Unmute</button>
<button {{action 'toggleFadeMusic'}}>Fade Music</button>
<button {{action 'fadeOutMusic'}}>Fade Out</button>
<button {{action 'fadeInMusic'}}>Fade In</button>
